
  <h1>Demo 1</h1>
  <h2>Popup with another router into</h2>
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog -->
  <dialog #favDialog style="scale: 0.65;z-index: 1000;">
    <parcel [config]="config" [mountParcel]="mountRootParcel" [customProps]="customProps"></parcel>
    <form>
       <div>
          <button style="font-size: 2em;" id="confirmBtn" value="default" (click)="closeDialog($event,favDialog)">Close</button>
       </div>
    </form>
  </dialog>
  <p>
    <button id="showDialog" (click)="favDialog.showModal(); customProps={url: 'app2page2'}">Demo number 1: Show app2 page2</button>
    <button id="showDialog" (click)="favDialog.showModal(); customProps={url: 'app2page1'}">Demo number 1: Show app2 page1</button>
  </p>
  
  <h1>Demo 2</h1>
  <h2>Application with access to its location</h2>
  <parcel [config]="configDemo2" [mountParcel]="mountRootParcel" [customProps]="customPropsDemo2"></parcel>